[Unit]
Description=Consul Agent
Requires=network-online.target
After=network-online.target

[Service]
User=dtle
#Group=consul
#EnvironmentFile=-/etc/default/consul
Restart=on-failure
ExecStart=INSTALL_PREFIX_MAGIC/usr/bin/consul agent $CONSUL_FLAGS -config-file=INSTALL_PREFIX_MAGIC/etc/consul/single.hcl
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
