[Unit]
Description=Dtle desc
Documentation=http://www.actionsky.com/docs
After=network.target

[Service]
EnvironmentFile=-/etc/default/dtle
User=dtle
ExecStart=/usr/bin/dtle server -config /etc/dtle/dtle.conf ${DTLE_OPTS}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
