[Unit]
Description=nomad server agent
Documentation=https://www.nomadproject.io/docs/agent/
After=network.target

[Service]
User=dtle
Environment=GODEBUG=madvdontneed=1
ExecStart=INSTALL_PREFIX_MAGIC/usr/bin/nomad agent -config INSTALL_PREFIX_MAGIC/etc/dtle/nomad.hcl

[Install]
WantedBy=multi-user.target
