[Unit]
Description=nomad server agent
Documentation=https://www.nomadproject.io/docs/agent/
After=network.target

[Service]
ExecStart=/usr/bin/nomad agent -config /etc/nomad/single.hcl

[Install]
WantedBy=multi-user.target
